@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #181818;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

#container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  height: auto;
  flex-wrap: wrap;
  border-radius: 12px;
  box-shadow: 0 0px 8px rgba(129, 129, 129, 0.349);
  padding: 10px 24px;
}

#container a {
  color: white;
}

a span {
  font-style: italic;
}

#title {
  margin-bottom: 36px;
}

#password-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(129, 129, 129);
}

#password {
  font-size: 30px;
}

#character-slider {
  width: 80%;
  appearance: none;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

#character-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

#character-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}
